<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.11.3" targetFramework="net451" />
  <package id="Microsoft.Xaml" version="4.0.0.1" targetFramework="net451" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net451" />
  <package id="Syncfusion.Licensing" version="18.3.0.44" targetFramework="net451" />
  <package id="Syncfusion.SfInput.WPF" version="18.3.0.44" targetFramework="net451" />
  <package id="Syncfusion.SfScheduler.WPF" version="18.3.0.44" targetFramework="net451" />
  <package id="Syncfusion.SfShared.WPF" version="18.3.0.44" targetFramework="net451" />
  <package id="Syncfusion.SfSkinManager.WPF" version="18.3.0.44" targetFramework="net451" />
  <package id="Syncfusion.Shared.WPF" version="18.3.0.44" targetFramework="net451" />
  <package id="Syncfusion.Themes.MaterialLight.WPF" version="18.3.0.44" targetFramework="net451" />
</packages>